<template>
    <div class="col-md-12 event-form" v-if="isShowEventFrom">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :on-cancel="onCancel"
                 :is-full-page="fullPage"></loading>
        <form @submit.prevent="submit">
            <div class="form-group field-box">
                <label for="full_name">Full Name</label>
                <img src="/assets/images/icons/full-name.png" alt="input-icon" height="35" width="auto" class="field-icon">
                <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Enter Full Name"  v-model='fields.full_name'  autocapitalize="words"/>
            </div>

            <div class="form-group field-box">
                <label for="phone">Phone Number</label>
                <img src="/assets/images/icons/phone-number.png" alt="input-icon" height="35" width="auto" class="field-icon">
                <input type="number" class="form-control" name="phone" id="phone" placeholder="Enter Phone Number" v-model='fields.phone' />
            </div>

            <div class="form-group field-box">
                <label for="email">Email</label>
                <img src="/assets/images/icons/email.png" alt="input-icon" height="35" width="auto" class="field-icon">
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email Address" v-model='fields.email'/>
            </div>

            <div class="form-group field-box">
                <label for="company">Name of Company</label>
                <img src="/assets/images/icons/company.png" alt="input-icon" height="35" width="auto" class="field-icon">
                <input type="company" class="form-control" name="company" id="company" placeholder="Enter Name of Company" autocapitalize="words" v-model='fields.company'/>
            </div>

            <div class="form-group field-box" v-if="this.event.field_age === 'on'">
                <label for="age">Age</label>
                <img src="/assets/images/icons/full-name.png" alt="input-icon" height="35" width="auto" class="field-icon">
                <input type="number" class="form-control" name="age" id="age" placeholder="Enter your age" v-model='fields.age' />
            </div>

            <div class="form-group field-box" v-if="this.event.field_location === 'on'">
                <label for="location">Country</label>
                <img src="/assets/images/icons/company.png" alt="input-icon" height="35" width="auto" class="field-icon">
                <input type="company" class="form-control" name="location" id="location" placeholder="Enter country" autocapitalize="words" v-model='fields.location'/>
            </div>

            <div class="form-group field-box">
                <label for="position">Position</label>
                <img src="/assets/images/icons/position.png" alt="input-icon" height="35" width="auto" class="field-icon">
                <input type="position" class="form-control" name="position" id="position" placeholder="Enter Position" autocapitalize="words" v-model='fields.position'/>
            </div>

            <div class="form-group field-box" v-if="this.event.field_gender === 'on'">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="gender-male" name="gender" value="male" class="custom-control-input" v-model='fields.gender'>
                    <label class="custom-control-label" for="gender-male">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="gender-female" name="gender" value="female" class="custom-control-input" v-model='fields.gender'>
                    <label class="custom-control-label" for="gender-female">Female</label>
                </div>
            </div>


        <div class="bottom-margin">
            <div class="form-group">
            <div class="row remove-lr-margin">
                <div class="col-md-auto clear-all-btn-box">
                    <button type="button" class="btn btn-block btn-danger" @click="clearAllFields">Clear All</button>
                </div>
                <div class="col-md-auto submit-btn-box">
                    <button type="button" id="show-modal" class="btn btn-block btn-success" @click="showModal">Submit</button>
                </div>
            </div>
            </div>
        </div>

        <modal v-if="isModalVisible">
            <h3 slot="header">Data Consent</h3>
            <div slot="body">I consent to the use of my personal data in accordance with Ghana Data Protection Act, 2012 and the EU GDPR.</div>
            <div slot="footer">
                <div class="row">

                    <div class="col-md-6 clear-all-btn-box">
                        <button type="button" class="btn btn-block btn-danger" @click="closeModal"> No </button>
                    </div>
                    <div class="col-md-6 submit-btn-box">
                        <button type="submit"  class="btn btn-block btn-success" @click="closeModal">Yes</button>
                    </div>

                </div>
            </div>
        </modal>

            <modal v-if="isMsgBoxVisible" role="alert">
                <h3 slot="header">Entry Message</h3>
                <div slot="body"><div class="alert alert-danger">{{ this.message}}</div> </div>
                <div slot="footer">
                    <div class="row">
                        <div class="col-md-12 submit-btn-box full-width">
                            <button type="button"  class="btn btn-block btn-success" @click="closeMsgBoxModal">Ok</button>
                        </div>

                    </div>
                </div>
            </modal>
        </form>
    </div>

    <div class="event-welcome-page" v-else-if="isShowEventWelcome">
        <selfcare-welcome-component :event_welcome_props="this.event_welcome_props"></selfcare-welcome-component>
    </div>
</template>
<style>
    .remove-lr-margin
    {
        margin-left: -12px;
        margin-right: -22px;
    }
</style>

<script>
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import modal from "./ModalComponent";
    export default {
        props: ['event_props'],
        mounted() {
            this.fields.event_code = this.event_props.event_code;
            this.apiToken = this.event_props.apiToken;
            this.fields.registration = 'input';
            this.fields.mode = this.event_props.mode;
            this.event = this.event_props.event;
            this.event_welcome_props = {
                'event_title': this.event_props.event_title,
                'event_user_full_name': '',
            }
            //console.log('Component mounted. Self Care Form');
            //this.showEventWelcome();
        },
        components: {
            modal,
            Loading,
        },
        data () {
            return {
                fields: {},
                errors: {},
                success: false,
                loaded: true,
                apiToken:'',
                isModalVisible: false,
                isMsgBoxVisible: false,
                submitStatus: null,
                message: '',
                isShowEventFrom: true,
                isShowEventWelcome: false,
                event_user_full_name: '',
                event:{},
                event_welcome_props:{},
                isLoading: false,
                fullPage: true,
            };
        },
        methods: {
            onCancel()
            {

            },
            showModal() {
                if ((this.fields.full_name === undefined ||  this.fields.full_name === '') ) {
                    this.msgBox('Provide your name');
                } else if ((this.fields.phone === undefined ||  this.fields.phone === '')) {
                    this.msgBox('Provide your phone');
                } else if (this.fields.email === undefined) {
                    this.msgBox('Provide a valid email address');
                } else if (this.fields.company === undefined ||  this.fields.company === '') {
                    this.msgBox('Provide company name');
                } else if ((this.fields.location === undefined ||  this.fields.location === '')  && this.event.field_location === 'on') {
                    this.msgBox('Provide your location');
                }  else if ((this.fields.location === undefined ||  this.fields.location === '')  && this.event.field_location === 'on') {
                    this.msgBox('Provide your location');
                }  else if ((this.fields.age === undefined ||  this.fields.age === '')  && this.event.field_age === 'on') {
                    this.msgBox('Provide your age');
                } else if (this.fields.position === undefined ||  this.fields.position === '') {
                    this.msgBox('Provide your position');
                }else if ((this.fields.gender === undefined ||  this.fields.gender === '')  && this.event.field_gender === 'on') {
                    this.msgBox('Provide your gender');
                }
                else {
                    this.isModalVisible = true;
                }
            },
            clearAllFields(){
                this.fields = {};
            },
            closeModal() {
                this.isModalVisible = false;
            },
            closeMsgBoxModal() {
                this.isMsgBoxVisible = false;
            },
            showMsgBoxModal() {
                this.isMsgBoxVisible = true;
            },
            msgBox(message = '')
            {
                this.message = message;
                this.isMsgBoxVisible = true;
                //console.log('msgBox');
            },
            showEventWelcome(){
                this.isShowEventFrom = false;
                this.isShowEventWelcome = true;
            },
            showEventForm(){
                this.isShowEventFrom = true;
                this.isShowEventWelcome = false;
            },
            submit() {
                   /* console.log(this.fields.event_code);
                    console.log('Clicked Submit (Yes)' + this.fields.event_code);*/
                    this.event_welcome_props.event_user_full_name = this.fields.full_name;
                    this.event_welcome_props.event_title = this.event_props.event_title;
                    //console.dir(this.fields.event_code);
                    //console.log('Clicked Submit' + this.event_welcome_props.event_user_full_name);
                    if (this.loaded) {
                        this.isLoading = true;
                        this.loaded = false;
                        this.success = false;
                        this.errors = {};
                        axios.defaults.headers.common = {
                            'Authorization': 'Bearer ' + this.apiToken,
                        };
                        axios.post('/api/attendees', this.fields).then(response => {
                            this.fields = {}; //Clear input fields.
                            this.loaded = true;
                            this.success = true;
                            this.isLoading = false;
                            this.fields.event_code = this.event_props.event_code;
                            this.fields.registration = 'input';
                            this.fields.mode = this.event_props.mode;
                            this.showEventWelcome();
                            setTimeout(() => {
                                this.showEventForm();
                            }, 3000);
                        }).catch(error => {
                            this.loaded = true;
                            console.log(error.response.data.error);
                            if (error.response.status === 422) {
                                this.errors = error.response.data.errors || {};
                            }
                            else if (error.response.status === 400) {
                                alert(error.response.data.message);
                            }

                        });
                    }
                    this.isModalVisible = false;


            },
        },

    }
</script>
