<template>
    <div class="col-md-12 event-form">
        <div class="container">
            <div class="vertical-center">
                <p id="welcome_message_event">{{ this.event_title }}</p>
                <h1 id="welcome_message"> Welcome</h1>
                <h3 id="welcome_message_full_name"> {{ this.event_user_full_name }}</h3>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['event_welcome_props'],
        mounted() {
            this.event_title = this.event_welcome_props.event_title;
            this.event_user_full_name = this.event_welcome_props.event_user_full_name;
            console.log('Component Welcome.')
        },
        data () {
            return {
                event_title: '',
                event_user_full_name: '',
                isShowEventFrom: true,
                isShowEventWelcome: false,
            };
        },
    }
</script>
